<div class="hero-unit">
  <h1><a href="#/write">Write</a> about anything</h1>
  <h3>You're getting to know JournalApp</h3>

  <div ng-controller=EntryListCtrl ng-init="init(5)">
    <li ng-repeat="entry in entries" class=entry ng-class-even="'even'" ng-class-odd="'odd'">
      <p>{{ entry.text }}<p>
      <span class=time>{{ entry.created | date:"MMMM d, yyyy - HH:mm" }}</span>
    </li>
  </div>

  <div ng-controller=WriteCtrl>
    <textarea write placeholder="I think it would be amazing if..."></textarea>
    <span ng-show=wordTotal>{{ wordTotal }} words</span>
    <span style="float:right;">{{ entryTotal }} <a href="#/archive">entries</a></span>
  </div>

</div>
